@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-wrapper {
  width: 500px;
  height: 600px;
}

.modal {
  background: white;
  height:100%;
  width:100%;
  border-radius: 15px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

/* ------------- */

input[type="checkbox"]:checked {
  
  color: white;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  /* background: lightgray; */
  height: 16px;
  width: 16px;
  /* border: 1px solid white; */
  color: white;
}

input[type="checkbox"]:after {
  content: ' ';
  position: relative;
  left: 40%;
  top: 20%;
  width: 25%;
  height: 50%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;

}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #3f3f46 !important;
  border-radius: 10px;
}

.titlebar {
  height: 30px;
  background:  rgb(244 244 245 / var(--tw-bg-opacity));
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  cursor: default;
}

.titlebar :dark {
  height: 30px;
  background: rgb(24 24 27 / var(--tw-bg-opacity));
  user-select: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  cursor: default;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 100%;
  flex-grow: 1;
  transition: none;
  overflow: hidden;
  cursor: default;
   /*  dark:text-white w-12 */
}

.titlebar-button:hover{
  cursor: default;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.page{
  width: 100%;
  height: 100;
  padding: 6rem;
}